/* This file is for your main application css. */
@import "./reset.scss";
@import "./live.scss";
@import "../node_modules/nprogress/nprogress.css";

@import "./theme.scss";
@import "./playlist.scss";
@import "./controls.scss";
@import "./media_controls.scss";
@import "./track_position.scss";

body {
  font-family: $main-font-family;
  font-size: $main-font-size;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 5rem;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: $header-width;

  background-color: $color-blue;
}

.header__left {
  justify-self: flex-start;
}

.header__right {
  justify-self: flex-end;
}

.header__selection_state {
  padding: 0 1rem;
}