
.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
}

.radio-group__button {
  padding: 0.5rem;

  cursor: pointer;
}

.radio-group__button:hover {
  background-color: darken($color-orange, 20%);
}

.radio-group__button--selected {
  background-color: $color-orange;
}
