
.playlist {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: $playlist-width;
  height: $playlist-height;

  overflow: auto;

  box-shadow: 2px 2px 0 0 $shadow-color;

  background-color: $color-white;
}

.playlist__group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;

  background-color: inherit;
}

.playlist__group--selected {
  border: 4px solid $color-green;
}

.playlist__group_header {
  padding: 1rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.track {
  display: flex;
  flex-direction: row;

  border: 4px solid $color-white;
  border-bottom: 1px solid lightgray;
}

.track--playing {
  background-color: lightgray;
}

.track--selected {
  border: 4px solid $color-green;
}

.track__field {
  padding: 1rem;
}

.track__play {
  font-size: 1.5rem;
  font-weight: 800;
}

.track__title {
  width: $track-title-width;
}

.track__artist {
  width: $track-artist-width;
}

.track__album {
  width: $track-album-width;
}

.track__length {
  width: $track-length-width;

  display: flex;
  justify-content: flex-end;
}
