$playlist-width: 55rem;
$playlist-height: 30rem;

$track-title-width: 20rem;
$track-artist-width: 10rem;
$track-album-width: 10rem;
$track-length-width: 7rem;

$header-width: 100%;

$main-font-family: 'Roboto', sans-serif;
$main-font-size: 16pt;

$disabled-color: gray;
$shadow-color: rgb(240, 240, 240);

$track-position-background: white;
$track-position-filler: hotpink;

$color-orange: #ffb368;
$color-green: #68ffb3;
$color-blue: #68b3ff;
$color-white: #fcfcfc;